$container-width: 1240px;
$sidebar-width: 300px;

$main-ff: "Open Sans", sans-serif;

$header-bg-color: #2bc09d;
$second-color: #4dcbad;
$header-font-color: #fff;

$main-accent-fc: #000000;
$main-second-fc: #606770;

$sidebar-bg-color: #f4f4f4;
